{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swipe2Clean Bussiness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/BusinessPage.css' %}">
</head>
<body>   
    <header>
        <div class="logo-container">
            <img src="assets/BackgroundRemover.png" class="logo">
            <div class="logo-text">Swipe2Clean</div>
        </div>
        <nav>
            <ol>
                <li id="search">
                    <input id="searche" class="search" type="search" placeholder="search">
                    <label for="searche">Search</label>
                </li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Cart</a></li>
            </li>
            </ol>
        </nav>
        <a href="#"><button>List-items</button></a>
        <div class="image">
            <img src="{% static 'img/user.jpg' %}" >
        </div>
    </header>
    <section class="cards">
        <div class="Heading">
            <h1>Listed-Items</h1>
        </div>
        <div class="Flex-Box">
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-3.png' %}">
                        </div>
                        <div>
                            <h4>Recyclable Metal Cans</h4>
                            <h6 class="mt-0 text-black-50">Recyclable </h6>
                        </div>
                    </div>
                    <div class="stats ">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available</span><span>10,000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>50 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>400 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>80&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> 
                        <button class="btn btn-warning"id="cart">Add to Cart</button>
                       
                    </div>                
                </div>
            </div>
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-1-1.png' %}" >
                        </div>
                        <div>
                            <h4>Recyclable Paper</h4>
                            <h6 class="mt-0 text-black-50">Recyclable Paper</h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available</span><span>5,000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>20 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>200 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>11&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning"id="cart">Add to Cart</button>
                    </div>     
                           </div>
            </div>
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-2.png' %}">
                        </div>
                        <div>
                            <h4>Recyclable Bottles</h4>
                            <h6 class="mt-0 text-black-50">Lorem ipsum dolor sit.</h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available </span><span>1000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>20 kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>200Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>30&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning" id="cart">Add to Cart</button></div>                </div>
            </div>
        </div>
        <div class="Flex-Box">
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-3.png' %}">
                        </div>
                        <div>
                            <h4>Recyclable Metal Cans</h4>
                            <h6 class="mt-0 text-black-50">Recyclable </h6>
                        </div>
                    </div>
                    <div class="stats ">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available</span><span>10,000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>50 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>400 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>80&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning" id="cart">Add to Cart</button></div>                </div>
            </div>
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-1-1.png' %}" >
                        </div>
                        <div>
                            <h4>Recyclable Paper</h4>
                            <h6 class="mt-0 text-black-50">Recyclable Paper</h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available</span><span>5,000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>20 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>200 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>11&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning" id="cart">Add to Cart</button></div>                </div>
            </div>
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-2.png' %}">
                        </div>
                        <div>
                            <h4>Recyclable Bottles</h4>
                            <h6 class="mt-0 text-black-50">Lorem ipsum dolor sit.</h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available </span><span>1000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>20 kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>200Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>30&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning" id="cart">Add to Cart</button></div>                </div>
            </div>
        </div>
        <div class="Flex-Box">
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-3.png ' %}">
                        </div>
                        <div>
                            <h4>Recyclable Metal Cans</h4>
                            <h6 class="mt-0 text-black-50">Recyclable </h6>
                        </div>
                    </div>
                    <div class="stats ">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available</span><span>10,000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>50 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>400 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>80&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning" id="cart">Add to Cart</button></div>
                </div>
            </div>
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white">
                    <i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-1-1.png' %}" >
                        </div>
                        <div>
                            <h4>Recyclable Paper</h4>
                            <h6 class="mt-0 text-black-50">Recyclable Paper</h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available</span><span>5,000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>20 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>200 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>11&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button><button class="btn btn-warning" id="cart">Add to Cart</button></div>
                </div>
            </div>
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2">
                        <div class="sqr">
                            <img src="{% static 'img/New-2.png' %}">
                        </div>
                        <div>
                            <h4>Recyclable Bottles</h4>
                            <h6 class="mt-0 text-black-50">Lorem ipsum dolor sit.</h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>Stock-Available </span><span>1000 Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Min-Purchase</span><span>20 kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Max-Purchase</span><span>200Kg</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Pricing</span><span>30&#8377;/Kg</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4"><button class="btn btn-warning" id="buy">Buy</button> <button class="btn btn-warning" id="cart">Add to Cart</button></div>
                </div>
            </div>
        </div>
    </section>
      <!-- Main -->
       <!-- NNNNNNN -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="show-cart table">
                
              </table>
              <div>Total price: $<span class="total-cart"></span></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Order now</button>
            </div>
          </div>
        </div>
      </div>
    <script>
        var shoppingCart = (function() {
  // =============================
  // Private methods and propeties
  // =============================
  cart = [];
  
  // Constructor
  function Item(name, price, count) {
    this.name = name;
    this.price = price;
    this.count = count;
  }
  
  // Save cart
  function saveCart() {
    sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
  }
  
    // Load cart
  function loadCart() {
    cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
  }
  if (sessionStorage.getItem("shoppingCart") != null) {
    loadCart();
  }
  

  // =============================
  // Public methods and propeties
  // =============================
  var obj = {};
  
  // Add to cart
  obj.addItemToCart = function(name, price, count) {
    for(var item in cart) {
      if(cart[item].name === name) {
        cart[item].count ++;
        saveCart();
        return;
      }
    }
    var item = new Item(name, price, count);
    cart.push(item);
    saveCart();
  }
  // Set count from item
  obj.setCountForItem = function(name, count) {
    for(var i in cart) {
      if (cart[i].name === name) {
        cart[i].count = count;
        break;
      }
    }
  };
  // Remove item from cart
  obj.removeItemFromCart = function(name) {
      for(var item in cart) {
        if(cart[item].name === name) {
          cart[item].count --;
          if(cart[item].count === 0) {
            cart.splice(item, 1);
          }
          break;
        }
    }
    saveCart();
  }

  // Remove all items from cart
  obj.removeItemFromCartAll = function(name) {
    for(var item in cart) {
      if(cart[item].name === name) {
        cart.splice(item, 1);
        break;
      }
    }
    saveCart();
  }

  // Clear cart
  obj.clearCart = function() {
    cart = [];
    saveCart();
  }

  // Count cart 
  obj.totalCount = function() {
    var totalCount = 0;
    for(var item in cart) {
      totalCount += cart[item].count;
    }
    return totalCount;
  }

  // Total cart
  obj.totalCart = function() {
    var totalCart = 0;
    for(var item in cart) {
      totalCart += cart[item].price * cart[item].count;
    }
    return Number(totalCart.toFixed(2));
  }

  // List cart
  obj.listCart = function() {
    var cartCopy = [];
    for(i in cart) {
      item = cart[i];
      itemCopy = {};
      for(p in item) {
        itemCopy[p] = item[p];

      }
      itemCopy.total = Number(item.price * item.count).toFixed(2);
      cartCopy.push(itemCopy)
    }
    return cartCopy;
  }

  // cart : Array
  // Item : Object/Class
  // addItemToCart : Function
  // removeItemFromCart : Function
  // removeItemFromCartAll : Function
  // clearCart : Function
  // countCart : Function
  // totalCart : Function
  // listCart : Function
  // saveCart : Function
  // loadCart : Function
  return obj;
})();


// *****************************************
// Triggers / Events
// ***************************************** 
// Add item
$('.add-to-cart').click(function(event) {
  event.preventDefault();
  var name = $(this).data('name');
  var price = Number($(this).data('price'));
  shoppingCart.addItemToCart(name, price, 1);
  displayCart();
});

// Clear items
$('.clear-cart').click(function() {
  shoppingCart.clearCart();
  displayCart();
});


function displayCart() {
  var cartArray = shoppingCart.listCart();
  var output = "";
  for(var i in cartArray) {
    output += "<tr>"
      + "<td>" + cartArray[i].name + "</td>" 
      + "<td>(" + cartArray[i].price + ")</td>"
      + "<td><div class='input-group'><button class='minus-item input-group-addon btn btn-primary' data-name=" + cartArray[i].name + ">-</button>"
      + "<input type='number' class='item-count form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>"
      + "<button class='plus-item btn btn-primary input-group-addon' data-name=" + cartArray[i].name + ">+</button></div></td>"
      + "<td><button class='delete-item btn btn-danger' data-name=" + cartArray[i].name + ">X</button></td>"
      + " = " 
      + "<td>" + cartArray[i].total + "</td>" 
      +  "</tr>";
  }
  $('.show-cart').html(output);
  $('.total-cart').html(shoppingCart.totalCart());
  $('.total-count').html(shoppingCart.totalCount());
}

// Delete item button

$('.show-cart').on("click", ".delete-item", function(event) {
  var name = $(this).data('name')
  shoppingCart.removeItemFromCartAll(name);
  displayCart();
})


// -1
$('.show-cart').on("click", ".minus-item", function(event) {
  var name = $(this).data('name')
  shoppingCart.removeItemFromCart(name);
  displayCart();
})
// +1
$('.show-cart').on("click", ".plus-item", function(event) {
  var name = $(this).data('name')
  shoppingCart.addItemToCart(name);
  displayCart();
})

// Item count input
$('.show-cart').on("change", ".item-count", function(event) {
   var name = $(this).data('name');
   var count = Number($(this).val());
  shoppingCart.setCountForItem(name, count);
  displayCart();
});

displayCart();
    </script>
</body>
</html>